html {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
}

body, .game, .scoreboard, .selection {
    display: flex;
    flex-direction: column;
}

.score, .pselection, .buttons {
    display: flex;
    flex-direction: row;
}

body, .scoreboard, .selection {
    align-items: center;
}

body, .game, .buttons img:active {
    background-image: linear-gradient(to bottom right, #8BC6EC, #9599E2);
} 

.pselection, h3 {
    font-size: 24px;
}

#rock, #paper, #scissors, h5 {
    font-size: 14px;
}

.score p, #rock, #paper, #scissors {
    font-weight: bold;
}

table, th, td, h2, h3 {
    text-align: center;
}

h2, h3 {
    width: 790px;
    border-bottom: 5px solid black;
    padding: 10px;
    margin-top: 0px;
}

h1, h2, h3, h4, h5 {
    margin-bottom: 0px;
} 

h4, h5 {
    font-style: italic;
}

#tablechoices tr:nth-child(even), h5 {
    color: white;
}

h4 {
    font-size: 50px;
    text-decoration: underline;
}

.game {
    align-items: stretch;
    width: 800px;
    border: 5px solid black;
    border-radius: 80px;
    margin: 0px 50px 50px;
}

h1 {
    font-weight: 400;
}

.scoreboard {
    border-bottom: 5px solid black;
}

.score {
    font-size: 28px;
    gap: 80px;
}

.score p {
    font-size: 34px;
}

.selection {
    padding-bottom: 20px;
}

table {
    width: 100%;
}

table, th, td {
    border-bottom: 1px solid rgb(24, 24, 24);
    border-top: 1px solid rgb(24, 24, 24);
    border-collapse: collapse;
    font-size: 20px;
    padding: 10px;
}

#tablechoices tr:nth-child(even) {
    background-color: rgb(24, 24, 24); 
}

h3 {
    border-top: 5px solid black;
}

.buttons {
    justify-content: center;
    gap: 80px;
    margin-bottom: 20px;
}

#rock, #paper, #scissors{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#rock:hover, #paper:hover, #scissors:hover {
    text-decoration: overline;
}

.buttons img:hover {
    opacity: 80%;
}

.buttons img:active {
    border-radius: 100%;
}

img {
    padding-bottom: 5px;
}

h5 {
    position: fixed;
    right: 10px; bottom: 10px;
}
